#map {
    width: 100%; /* Устанавливаем карту на 100% ширины контейнера */
    height: 500px; /* Устанавливаем карту на 500px высоты */
    background-color: #f0f0f0; /* Чтобы визуально видеть контейнер */
}
